#todolist{
    position:absolute;
    top:50%;
    left:50%;
    width :300px;
    height:300px;
    margin-left:-100px;
    margin-top:-100px;
}
/* h2{
    text-align: center;
} */
.submit,.sort { 
    padding:5px ;
}
.error {
    color:red;
}
/* design ul list  */
ul {
    margin: 0;
    padding: 0;
  }
  
  /* Style the list items */
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
  
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  ul li:nth-child(odd) {
    background: #f9f9f9;
  }
  
  /* Darker background-color on hover */
  ul li:hover {
    background: #ddd;
  }

/* When clicked on, add a background color and strike out text */
ul li.checked {
    background: rgb(136, 136, 136);
    color: #fff;
    text-decoration: line-through;
  }
  
  /* Add a "checked" mark when clicked on */
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
.close {
    margin-left: 90px;
}
.edit{
    margin-left: 5px;
}
.checkbutton{
    float: left;
    margin-left: 0px;
    padding-left: 0px;
    margin-top: 7px;
    margin-right: 11px;
}